/* Stylesheet*/

/* Headers */
h1 { 
    background-color: #953d4e;
    border-left: 12px solid #7e1c1c;
    border-bottom: 8px solid #7e1c1c;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 1px;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0px 0px;
    padding: 28px 50px;
    text-align: left;
}

h2 { 
    color: rgb(120, 11, 11);
    font-size: 30px;
    font-family: 'Georgia', serif;
    margin-top: 0px; 
    margin-bottom: 10px;
}

h3 { 
    background-color: rgb(166, 67, 67);
    border: 3px solid rgb(179, 98, 98); 
    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px;
}

p { 
    color:black;
    font-size: 20px;
    margin-top: 0px; 
    margin-bottom: 0px;
    text-align: left;
}

/* Footers */
footer {
  background-color:#912e2ee4;
  color:white;
  font-size: large;
}

/* Containers */
.container {
    background-color: transparent;   
    border-radius: 1px;
    flex-wrap: nowrap;           
    justify-content: space-around;    
    margin-bottom: 0px;   
    padding: 10px 80px;         
    text-align: left;  
}

.bmi-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
  }
  
.content {
  flex: 1;
}

.result {
  flex: 1;
  margin-left: 20px;
}

/* Calculators */
.bmi-calculator {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.bmi-calculator div {
  margin-bottom: 10px;
}

.bmi-calculator label {
  display: block;
  margin-bottom: 5px;
}

.bmi-calculator input {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.bmi-calculator button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}